<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.js"></script>
<script>
var number = $.cookie("number");
if (number) {
  window.location.href = "/penpal/character?phoneNumber=" + number;
} else {
  window.location.href = "/penpal/";
}
</script>
</head>
<body>
</body>
</html>
