<html>
<head>
<title>
Penpal
</title>
<link rel="stylesheet" type="text/css" href="/penpal/res/styles.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.js"></script>
<script>
var sendNumber = function() {
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/penpal/initialize");
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onreadystatechange = function() {
    if (xhr.readyState === xhr.DONE) {
      console.log("resp:" + xhr.responseText);
      var response = JSON.parse(xhr.responseText);
      $.cookie("number", response.phoneNumber);
      window.location.href = "/penpal/character?phoneNumber=" + response.phoneNumber;
    }
  }
  xhr.send(JSON.stringify({
    number: $("#numberfield").val(),
  }));
}
</script>

</head>
<body>
<div id="centercol" class="center">
<div id="welcome">Always wanted a twin?</div>
<div id="getstarted">Enter your phone number to get started</div>
<div id="number"><label for="numberfield">Number:</label><input type="text" id="numberfield" placeholder="Phone number"></input>
<button id="submit" height:"100" width:"300" onclick="sendNumber()">See My Twinn</button>
</div>
</div>
</body>
</html>
